<!--Main page for the site. Will show listings, and will have buttons for account (maybe, if time) and login-->
{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<main class="content">
    <h1 class="h1">Login</h1>
</main>
<div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <label for="psw"><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="uname" required>
    <button type="submit">Login</button>
    <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
</div>

<div class="container" style="background-color: #f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="/resetPassword">password?</a></span>
</div>
{% endblock %}
